**.profraw
**/__fuzz__/**
result*
result*/**
**/target/**
/.bin/**
/.vscode/**
/.zed/**
/artifact/**
/compile-env
/compile-env/**
/dev-env-template/**
/dpdk-sys/.macro_eval.c
/dpdk-sys/dpdk_wrapper-precompile.h*
*.pch
/bin
sysroot
devroot
creds.json
key.pem
cert.pem
*.pem
*.crt
*.key
*.csr
